h1 {
    font-size: 300%;
    color: purple;
    text-align: center;
} 
h2 {
    font-size: 150%;
    color: blue;
    text-align: center;
} 
h3 {
    font-size: 100%;
    color: green;
    text-align: center;
} 

.container{
    text-align: center;
}